.error {
  color: red;
}

.home-title {
  margin-bottom: 45px;
}

  .booking-title {
    display: inline-block;
  }

.newgame {
  margin-top: 20px;
  float: right
}

.form-operations {
  margin-top: 40px;
}

label {
  font-weight: 500;
}

.team {
  margin-top: 40px;
}
