.error {
  color: red;
}

.main-title {
  margin-bottom: 45px;
}

.inline-title {
  display: inline-block;
}

.form-operations {
  margin-top: 40px;
}

.success {
  color: green;
  font-weight: 500;
}

input {
  width: 200px;
}

label {
  font-weight: 500;
}

.delete-button {
  margin-left: 25px;
}

.team {
  margin-top: 40px;
}

.submit-booking {
  margin-left: 210px;
}

.add-player {
  margin-left: 40px;
}

.delete-player {
  margin-left: 40px;
}

.child-container {
  text-align: center;
}
