@(gameForm: Form[Game], id: Long, game: Game)

@import views.html.helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Modifier une réservation", scripts) {
  <h1 class="home-title inline-title">Modifier une réservation
    <button class="btn btn-danger delete-button" data-toggle="modal" data-target="#confirm-delete">Supprimer</button>
  </h1>

  @form(routes.Games.delete(id)) {
  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Confirmer la suppression</h4>
        </div>

        <div class="modal-body">
          <p>Attention, vous êtes sur le point de supprimer cette réservation.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button class="btn btn-danger btn-ok" type="submit">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
  }

  @helper.form(routes.Games.update(id), 'class -> "form-horizontal") {
    @inputText(gameForm("name"),
      '_label -> "Nom de la partie"
    )

    @select(gameForm("alley"),
      (1 to 10).map {n => (n.toString, n.toString) },
      '_label -> "Numéro de piste"
    )

    @inputText(gameForm("start_date"),
      '_label -> "Date de début",
      'type -> "datetime-local"
    )

    <div id="teams">
      @for((team, index) <- game.teams.zipWithIndex) {
        <div class="team" id="teams_@index">
          @inputText(gameForm("teams[" + index +"].name"),
            '_label -> ("Équipe " + (index + 1)),
            'class -> "input-team"
          )

          <div id="teams_@{index}_players">
            @for((player, idx) <- team.players.zipWithIndex) {
              <div id="teams_@{index}_players_@idx">
                @inputText(gameForm("teams[" + index +"].players[" + idx + "].name"),
                  '_label -> "Joueur",
                  'class -> "players"
                )
              </div>
            }
          </div>
        </div>
      }
    </div>

    <div class="form-group form-operations">
      <div class="controls">
        <button class="btn btn-primary" type="submit">Réserver</button>
        <a class="btn btn-default" href="@routes.Games.index()">Annuler</a>
      </div>
    </div>
  }
}

@scripts = {
  <script src="@routes.Assets.at("javascripts/forms.js")" type="text/javascript"></script>
}
