@()

@import helper._

@main("Réservations", scripts) {
  <h1 class="home-title inline-title">Réservations</h1>
  <a class="btn btn-primary newgame" href="@routes.Games.form()">Nouvelle réservation</a>
  <div id="calendar"></div>
}

@scripts = {
  <script src="@routes.Assets.at("libs/fullcalendar/fullcalendar-2.3.1.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("libs/fullcalendar/lang-all.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/calendar.js")" type="text/javascript"></script>
}
