@(bookings: List[Booking], taskForm: Form[Booking])

  @import helper._

  @main("Réservations") {

    <h1>@bookings.size() booking(s)</h1>

    <ul>
    @for(booking <- bookings) {
      <li>
        @booking.name

        @form(routes.Application.deleteBooking(booking.id)) {
          <button class="btn btn-danger" type="submit">Delete</button>
          }
      </li>
    }
    </ul>

    <h2>Add a new booking</h2>

    @form(routes.Application.newBooking()) {
      @inputText(taskForm("Name"))
      <button class="btn btn-primary" type="submit">Create</button>
    }
  }
