@(loginForm: Form[Admin])

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }
@import views.html.helper._

@main("Se connecter") {
  @helper.form(routes.Authentication.login, 'class -> "form-horizontal") {

    <h2 class="main-title">Merci de vous connecter pour accéder aux réservations</h2>

    @if(flash.contains("success")) {
        <p class="success">@flash.get("success")</p>
    }

    @if(loginForm.hasGlobalErrors) {
      <p class="error">
        @loginForm.globalError.message
      </p>
    }

    @inputText(loginForm("username"),
      '_label -> "Nom d'utilisateur"
    )

    @inputText(loginForm("password"),
      '_label -> "Mot de passe",
      'type -> "password"
    )

    <div class="form-group form-operations">
      <div class="controls">
        <button class="btn btn-primary submit-booking" type="submit">Connexion</button>
      </div>
    </div>
  }
}
